h1
{
text-align:centre;
}
body
{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqtAZ8nRpLvJyaRmfw8glmiHkiWspqQ2ei2NBlcV2Aa0iFjeEtOw");
color:red;
background-repeat:no-repeat;
background-position:center;
}